<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mogilabs\Barcode\Api\Data\BarcodeOptionsInterface"
                type="Mogilabs\Barcode\Model\Data\BarcodeOptions"/>
    <preference for="Mogilabs\Barcode\Model\Barcode\GenerateInterface"
                type="Mogilabs\Barcode\Model\Barcode\Generate"/>
    <preference for="Mogilabs\Barcode\Model\Barcode\GetImageStringInterface"
                type="Mogilabs\Barcode\Model\Barcode\GetImageString"/>
</config>
